@import '../Global';

.setting{
    position:absolute;
    margin-top:54px;    
    width:100%;
    display: flex;
    flex-direction: column;
    font-size: large;
    row-gap: 15px;
    h2{
        margin-left:10px;
    }
    &-body{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width:85%;
        button{
            font-size: xx-large;
            border:0;
            @include button();
            background-color: rgba(0,0,0,0.1);
            color:black;  
            letter-spacing: 1px;
            font-size: large;
            &[title='logout']{
                margin-top:5px;
                color:white;
                background-color: $secondary;
            }
        }
        .theme{
            display: flex;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 1px 1px 3px grey;
            border: solid 0px transparent;
            background-color: bisque;   
            // background-color: skyblue;

            span{
                flex: 1;
                padding:10px 20px;
                font-size: x-large;
            }
        }
    }
}