@import '../Global';

.category{
    user-select: none;
    width:100%;
    color:$color;
    font-family:$family;
    background-color: white;
    margin-top:54px;
    padding:10px;
    overflow-x: auto;
    display: flex;
    span{
        overflow: visible;
        border:solid 1px transparent;
        padding:7px;
        border-radius: 10px;
        width: fit-content;
        margin:0px 7px;
        background-color: rgba(0,0,0,0.07);
        cursor: pointer;
        font-size: 0.9em;
        transition:all 0.2s ease-in-out;
        height: fit-content;
        &:hover{
        background-color: rgba(0,0,0,0.15);
        }
    }
}
#activeCat{
    background-color: rgba(0,0,0,1);
    color:white;

}

.header{
    user-select: none;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    color:$color;
    font-family:$family;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding:12px 5px;

    h2{
        letter-spacing: 1px;
        color:$primaryColor;
        margin-left:10px;
    }
    .options{
        color:rgba(0,0,0,0.7);
        display: flex;
        align-items: center;
        font-size: large;
        font-weight: lighter;
        padding-right:8px;
        span{
            border-bottom:solid 2px transparent;
            padding:5px 15px;
            cursor: pointer;
        }
    }
}
#active{
    color:$primaryColor;
    transition:all 0.2s ease-in-out;
}

.fixfoot{
    position:fixed;
    bottom:0;
    display: flex;
    padding:10px;
    background-color: white;
    color:rgba(0,0,0,0.6);
    justify-content: space-around;
    width:100%;
    font-size:x-large;
}