
$color : rgb(20,20,20);
//Authentication background
$authBg : rgb(230,230,230);
$family:'Ms sans serif';
$authsBoxBg:rgb(250,250,250);
$primaryColor:rgb(255, 136, 0);
// $primaryColor:rgb(255, 166, 0);

$primary:rgb(14, 218, 99);
$secondary:rgb(200,0,50);

@mixin button(){
    // width:fit-content;
    color:white;
    background-color:$primary;
    font-size:17px;
    border-radius:15px;
    box-shadow: 1px 1px 3px grey;
    cursor: pointer;
    padding:10px 20px;

}
